
body {background-color: #AEC58E;}

.logo {margin-top: 20px;
    text-align: right;
}
.log {border-radius: 10px;
box-shadow: 8px 5px 5px darkslategray;
}
    

h2 {text-align: center;
    margin-bottom: 35px;
}

.card-header {font-weight: bold;}

.card:hover {transform: scale(1.1);
    transition: 4s;
}

#rec {display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:15px;
    gap: 15px;
    
}
.card {box-shadow: 8px 5px 5px darkslategray;}

.up {text-align: center;
    font-size: larger;
    margin-bottom: 30px;
    
}
.arriba {color: black;
    font-weight: bold;
    text-decoration: none;
    
}
.arriba:hover {color:#E38848;
    font-size: x-large;

}